@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 3rem;
  /* background-color: #ececec; */
  background-color: #474747;
  /* background-image: url("../../public/partyimg.jpg"); */
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 10px 0;
}

h1 {
  text-align: center;
}

.my-2 {
  margin: 2rem 0 2rem 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.logo {
  font-size: x-large;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 10px 30px;
  text-transform: uppercase;
}

label {
  color: #fff !important;
}

.MuiInput-root.search {
  border-bottom: 2px solid #fff !important;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin-left: 20px;
}

.navbar ul li a {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #333;
  border-bottom: 1px solid #333;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-reverse {
  background: #f9f9f9;
  color: #000;
  border-color: #000;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-delete {
  background: darkred;
  color: #fff;
  border-color: darkred;
  font-size: 13px;
  padding: 5px;
  margin: 0;
}

.form {
  width: 1rem;
}

.main-title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #fff;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.page-text {
  color: cornflowerblue;
  font-size: 20px;
  font-style: italic;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.add-back-btns {
  display: flex;
  justify-content: space-between;
}

.add-modal {
  max-width: 600px;
  margin: 0 auto;
}

.form-control {
  margin: 20px 0;
  padding: 0;
}

.form-control label {
  display: block;
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control textarea {
  height: 200px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.passbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passcheck {
  width: fit-content !important;
  height: 1rem !important;
  margin: 0 !important;
}

.show {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.hidden {
  display: none !important;
}

.show-pass {
  margin-right: 5px;
}

.posts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.posts-list li {
  padding: 20px;
  border: 1px #333 solid;
  border-radius: 5px;
}

.posts-list li h3 {
  margin-bottom: 5px;
}

.padding {
  padding: 10px 16px;
}

.trash-padding {
  padding: 10px 1px;
}

.error {
  color: rgb(214, 0, 0);
}

.email-modal {
  display: inline !important;
}

.btn-sched-email {
  width: 100%;
}

.email-notif-field {
  width: 100%;
  margin: 1rem 0 !important;
}

.days-before-select {
  width: 50%;
  margin: 0 auto;
  margin: 1rem 0 0 0 !important;  
}

.helper-text {
  margin-bottom: 1rem !important;
}

.auth-container {
  max-width: 600px;
  margin: auto;
}

.auth-container h1 {
  text-align: center;
}

.auth-container .pageHeader {
  display: block;
}

.auth-container fieldset {
  padding: 15px;
  border-radius: 5px;
}

.auth-container fieldset label {
  margin-right: 10px;
}

.error-header {
  color: rgb(214, 0, 0);
  font-size: 4rem;
  font-style: bold;
}

.MuiPaper-elevation24 {
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 0%) 6px 6px 7px -3px !important;
}

label {
  color: white;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.css-ghsjzk-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid rgb(255 255 255 / 100%) !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: white !important;
}

.css-levciy-MuiTablePagination-displayedRows {
  color: white !important;
}

@media (max-width: 1000px) {
  .form-control {
    padding: 0;
  }

  body {
    padding-top: .5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .stoke-col {
    display: none !important;
  }
  .form {
    padding: 4px !important;
  }
  .main-title {
    margin-bottom: 1rem;
    line-height: 1;
  }
}

@media (max-width: 503px) {
  .column-daysuntil {
    padding: 4px 1px !important;
  }
}

@media (max-width: 425px) {
  body {
    padding: .5rem 1rem;
  }
}

@media (max-width: 335px) {
  .page-header {
    justify-content: center;
    margin-bottom: 0;
  }

  body {
    padding: 0.5rem;
  }

  .main-title {
    margin-bottom: 1rem;
  }

  .btn-reverse {
    padding: 8px;
  }

  .css-dsuxgy-MuiTableCell-root {
    padding: 6px 4px !important;
  }
}
